.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background: $header-background;
}
.bellContainer {
  position: relative;
}
.bell {
  font-size: 2rem;
}
.notificationCount {
  position: absolute;
  top: 4px;
  right: -17px;
  background-color: $red-color;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%);
  color: $white-color;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userLogo {
  font-size: 2.5rem;
  color: $primary-color;
}

.userName {
  padding-left: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.userModal {
  position: absolute;
  top: 60px;
  background-color: $white-color;
  width: 10%;
  border-radius: 4px;
}
.useModalElement {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  transition: background-color 0.1s ease-in-out;
  &:hover {
    background-color: $primary-color;
    border-radius: 4px;
  }
  &:hover svg,
  &:hover p {
    color: $secondary-color;
  }

  svg {
    width: 18px;
    height: 18px;
    margin: 0 1rem 0 0.5rem;
    color: $secondary-color;
  }

  p {
    color: $secondary-color;
    margin: 0.6rem 0;
  }
}

.a {
}
